.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  width: 400px;
  background: #fff;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

.modal-content input {
  width: 100%;
  padding: 14px;
  margin: 20px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
